<html>
  <head>
  <title>Wubalubadubdubbed</title>
  </head>
  <body style="width:100%;height:.9vh; display:grid">
   <h1 style="text-align: center">{{.Phrase}}</h1>
   <video width="75%" style="margin: 0 auto;" autoplay loop>
     <source src="{{.URL}}" type="video/mp4">
       Your browser does not support the video tag.
    </video>
  </body>
</html>
		
